{% extends 'base.html.twig' %}

{% block title %}Société {{ company.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Société &laquo;{{ company.name }}&raquo;</h3>
                </div>
                <div class="box-body">
                    <dl>
                        <dt>Nom</dt>
                        <dd>{{ company.name }}</dd>
                    </dl>
                    {% if map is defined %}
                    {{ ivory_google_map(map) }}
                    {{ ivory_google_api([map]) }}
                    {% endif %}
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="{{ path('company_index') }}" class="btn btn-default">
                                <i class="fa fa-angle-left"></i> Retourner à la liste
                            </a>
                            <a href="{{ path('company_edit', { 'id': company.id }) }}" class="btn btn-info">
                                <i class="fa fa-pencil"></i> Modifier
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <div class="pull-right">
                                {{ form_start(delete_form) }}
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa fa-minus"></i> Supprimer
                                </button>
                                {{ form_end(delete_form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
