{% extends 'base.html.twig' %}

{% block title %}Locataires{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Liste des locataires</h3>
                </div>
                <div class="box-body">
                    <table id="listTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Logement</th>
                            <th>Nombre de quittances</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tenant in tenants %}
                            <tr>
                                <td style="vertical-align: middle;">{{ tenant.lastName }} {{ tenant.firstName }}</td>
                                <td style="vertical-align: middle;">
                                    {%- if tenant.housing -%}
                                        {{ tenant.housing.name }} - {{ tenant.housing.building.address.address1 }}
                                    {%- else -%}
                                        <b>Aucun logement</b>
                                    {%- endif -%}
                                </td>
                                <td>{{ tenant.receipts|length }}</td>
                                <td style="vertical-align: middle;">
                                    <a href="{{ path('tenant_show', { 'id': tenant.id }) }}" class="btn btn-default">
                                        <i class="fa fa-eye"></i> Voir
                                    </a>
                                    <a href="{{ path('tenant_edit', { 'id': tenant.id }) }}" class="btn btn-info">
                                        <i class="fa fa-pencil"></i> Modifier
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <a href="{{ path('tenant_new') }}" class="btn btn-primary">
                        <i class="fa fa-plus"></i> Ajouter un locataire
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $('#listTable').DataTable();
        });
    </script>
{% endblock %}
