{% extends 'base.html.twig' %}

{% block title %}Locataire {{ tenant.lastName }} {{ tenant.firstName }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Locataire &laquo;{{ tenant.lastName }} {{ tenant.firstName }}&raquo;</h3>
                </div>
                <div class="box-body">
                    <dl>
                        <dt>Nom</dt>
                        <dd>{{ tenant.lastName }}</dd>
                        <dt>Prénom</dt>
                        <dd>{{ tenant.firstName }}</dd>
                    </dl>
                    {% if tenant.receipts|length %}
                    <table id="listTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for receipt in tenant.receipts %}
                            <tr>
                                <td>{{ receipt.month }}/{{ receipt.year }}</td>
                                <td><a href="#" class="btn btn-primary"><i class="fa fa-download"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="{{ path('tenant_index') }}" class="btn btn-default">
                                <i class="fa fa-angle-left"></i> Retourner à la liste
                            </a>
                            <a href="{{ path('tenant_edit', { 'id': tenant.id }) }}" class="btn btn-info">
                                <i class="fa fa-pencil"></i> Modifier
                            </a>
                        </div>
                        <div class="col-sm-6">
                            <div class="pull-right">
                                {{ form_start(delete_form) }}
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa fa-minus"></i> Supprimer
                                </button>
                                {{ form_end(delete_form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $('#listTable').DataTable();
        });
    </script>
{% endblock %}
